
.content-container{
    display: flex;
}

.grid-container{

    height: 750px;
    width: 750px;
    background-color: rgb(94, 72, 63);
    border: 5px solid;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column; 
    flex: 0 0 750px;
 
}

.row{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.box{
    background-color: #BED3E5;
    flex: 1;
    border: 1px solid black;
}

.change-color{
    background-color: rgb(0, 0, 0);
}

.change-color

.content-container{
    padding-top: 50px;
    margin-left: 50px;
    background-color: rgb(175, 47, 187);
}
.slider{
    width: 100%;
}

.settings-container{
    background-color: rgb(196, 104, 39);
   margin-left: 100px;
   width: 300px;
   padding: 10px;
   display: flex;
   flex-direction: column;
}

button{
    margin: 10px;
    padding: 10px;
    background-color:#BED3E5;
}


